<section>
    <!-- Section Total Drivers -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- Total Drivers -->
        <div class="relative bg-white shadow text-mainColor h-full flex justify-between items-center rounded-2xl py-2 px-5">
            <div class="flex flex-col justify-center items-center">
                <p class="text-[#96a0b5] text-lg">Total Drivers</p>
                <h3 class="font-medium dark:text-[#fff] text-[#222] text-[20px]">{{ totalDrivers() }}</h3>
            </div>
            <div class="p-1 rounded-lg mt-4">
                <svg width="25" height="25" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 17C12.8123 17 9 13.1877 9 8.5C9 3.81225 12.8123 0 17.5 0C22.1878 0 26 3.81225 26 8.5C26 13.1877 22.1878 17 17.5 17ZM17.5 19.8333C10.2708 19.8333 4.21875 25.2478 3.424 32.4275C3.38008 32.8284 3.509 33.2279 3.77675 33.5282C4.04592 33.8286 4.42983 34 4.83217 34H8.99858C8.99858 29.3123 12.8108 25.5 17.4986 25.5C22.1863 25.5 25.9986 29.3123 25.9986 34H30.165C30.5673 34 30.9513 33.8286 31.2204 33.5282C31.4882 33.2279 31.6171 32.8284 31.5732 32.4275C30.7784 25.2478 24.7264 19.8333 17.4972 19.8333H17.5ZM17.5 28.3333C14.3748 28.3333 11.8333 30.8748 11.8333 34H23.1667C23.1667 30.8748 20.6252 28.3333 17.5 28.3333Z" fill="#f79320"></path></svg>
            </div>
            <img loading="lazy" src="assets/images/company-image/corner-img.png" class="absolute bottom-0 right-0 w-[130px] rounded-2xl h-full object-cover rounded-br-[10px] sepia-[3.5]" alt="" />
        </div>

        <!-- Active Drivers -->
        <div class="relative bg-white shadow text-mainColor h-full flex justify-between items-center rounded-2xl py-2 px-5">
            <div class="flex flex-col justify-center items-center">
                <p class="text-[#96a0b5] text-lg">Active</p>
                <h3 class="font-medium dark:text-[#fff] text-[#222] text-[20px]">{{ totalActiveDrivers() }}</h3>
            </div>
            <div class="p-1 rounded-lg mt-4">
                <i class="fa-regular fa-circle-check text-[25px]"></i>
            </div>
            <img loading="lazy" src="assets/images/company-image/corner-img.png" class="absolute bottom-0 right-0 w-[130px] rounded-2xl h-full object-cover rounded-br-[10px] sepia-[3.5]" alt="" />
        </div>

        <!-- DeActive Drivers -->
        <div class="relative bg-white shadow text-mainColor h-full flex justify-between items-center rounded-2xl py-2 px-5">
            <div class="flex flex-col justify-center items-center">
                <p class="text-[#96a0b5] text-lg">DeActive</p>
                <h3 class="font-medium dark:text-[#fff] text-[#222] text-[20px]">{{ totalDeActiveDrivers() }}</h3>
            </div>
            <div class="p-1 rounded-lg mt-4">
                <i class="fa-regular fa-circle-xmark text-[25px]"></i>
            </div>
            <img loading="lazy" src="assets/images/company-image/corner-img.png" class="absolute bottom-0 right-0 w-[130px] rounded-2xl h-full object-cover rounded-br-[10px] sepia-[3.5]" alt="" />
        </div>
    </div>


    <!-- Section Table Drivers -->
    <div class="panel shadow-none mt-6 pb-0">
        <!-- Title Table -->
        <div class="grid grid-cols-1 md:grid-cols-12 gap-3 mb-3">
            <div class="flex items-center gap-1 md:col-span-2">
                <svg width="45" height="45" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5 17C12.8123 17 9 13.1877 9 8.5C9 3.81225 12.8123 0 17.5 0C22.1878 0 26 3.81225 26 8.5C26 13.1877 22.1878 17 17.5 17ZM17.5 19.8333C10.2708 19.8333 4.21875 25.2478 3.424 32.4275C3.38008 32.8284 3.509 33.2279 3.77675 33.5282C4.04592 33.8286 4.42983 34 4.83217 34H8.99858C8.99858 29.3123 12.8108 25.5 17.4986 25.5C22.1863 25.5 25.9986 29.3123 25.9986 34H30.165C30.5673 34 30.9513 33.8286 31.2204 33.5282C31.4882 33.2279 31.6171 32.8284 31.5732 32.4275C30.7784 25.2478 24.7264 19.8333 17.4972 19.8333H17.5ZM17.5 28.3333C14.3748 28.3333 11.8333 30.8748 11.8333 34H23.1667C23.1667 30.8748 20.6252 28.3333 17.5 28.3333Z" fill="#f79320"></path>
                </svg>
                <div class="flex flex-col gap-0">
                    <h3 class="relative top-[-2px] text-[25px] font-semibold">All</h3>
                    <h3 class="ms-3 text-[25px] font-semibold">Drivers</h3>
                </div>
            </div>

            <!-- Buttons Table Header -->
            <div class="flex flex-wrap items-center justify-end gap-2 md:col-span-10">
                <!-- Search Input -->
                <div class="flex items-center md:col-span-2">
                    <input (input)="searchDriver($event)" type="text" class="form-input w-full border rounded-full focus:outline-none focus:border-[#F79320] transition-all py-1" placeholder="Search..." />
                </div>

                <!-- Add Driver Button -->
                <div class="flex items-center justify-center">
                    <app-btn-add btnText="Add Driver" (click)="modal5.open()"></app-btn-add>
                </div>

                <!-- Assign Driver Button -->
                <div class="flex items-center justify-center">
                    <app-btn-add btnText="Assign Driver" (click)="modal6.open()"></app-btn-add>
                </div>

                <!-- Assign Refund Button -->
                <div class="flex items-center justify-center">
                    <app-btn-add btnText="Add Balance" (click)="msgAlertToAddBalance()"></app-btn-add>
                </div>

                <div class="flex items-center justify-center gap-3">
                    <!-- Print Button -->
                    <div class="flex items-center justify-center" ngxTippy="Print" (click)="exportTable('print')">
                        <icon-printer class="text-mainColor h-6 w-6 cursor-pointer hover:scale-110 transition" />
                    </div>

                    <!-- Excel Button -->
                    <div class="flex items-center justify-center">
                        <i ngxTippy="Excel" class="text-mainColor fa-solid fa-file-excel text-xl cursor-pointer hover:scale-110 transition" (click)="exportTable('csv')"></i>
                    </div>

                    <!-- PDF Button -->
                    <div class="flex items-center justify-center">
                        <i ngxTippy="PDF" class="text-mainColor fa-solid fa-file-pdf text-xl cursor-pointer hover:scale-110 transition" (click)="downloadPdf()"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table Cars -->
        <div class="datatable">
            <ng-datatable
                [rows]="allDrivers()"
                [columns]="cols"
                [hasCheckbox]="true"
                (rowSelect)="onDriverSelect($event)"
                [sortable]="true"
                sortColumn="name"
                skin="whitespace-nowrap table-hover"
                firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180">
<path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>'
                lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180">
<path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>'
                previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180">
<path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>'
                nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180">
<path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>'
            >
                <!-- Un Assign Car BTN -->
                <ng-template slot="assign" let-value="data">
                    <div class="flex items-center justify-center gap-2 cursor-pointer">
                        <i class="fa-solid fa-car text-[25px]" (click)="unAssingDriverToCar(value.id, value.carId)" [ngClass]="{
                            'border-green-400 text-green-400': value.carId,
                            'border-red-400 text-red-400': !value.carId
                        }"></i>
                    </div>
                </ng-template>

                <!-- Refund Balance BTN -->
                <ng-template slot="refund">
                    <div class="flex items-center justify-center gap-2">
                        <span class="border px-4 rounded-lg cursor-pointer border-green-400 text-green-400"> Refund </span>
                    </div>
                </ng-template>

                <!-- Activation Driver BTN -->
                <ng-template slot="isActive" let-value="data">
                    <div class="flex items-center justify-center gap-2">
                        <span
                        (click)="switchActiveDriver(value.id)"
                        class="border px-4 rounded-lg cursor-pointer"
                        [ngClass]="{
                            'border-green-400 text-green-400': value.isActive,
                            'border-red-400 text-red-400': !value.isActive
                        }"
                        >
                        {{ value.isActive ? 'Active' : 'DeActive' }}
                        </span>
                    </div>
                </ng-template>
                <ng-template slot="action" let-value="data">
                    <div class="flex items-center gap-1">
                        <!-- <button type="button" class="ltr:mr-2 rtl:ml-2" ngxTippy="Edit" (click)="modal5.open(); patchBranchData(value.id)" >
                            <icon-pencil />
                        </button> -->
                        <button type="button" class="ltr:mr-2 rtl:ml-2" ngxTippy="Delete" (click)="deleteDriver(value.id)">
                            <icon-trash-lines />
                        </button>
                    </div>
                </ng-template>
            </ng-datatable>
        </div>
    </div>
</section>

<!-- Modal Add Driver -->
<ngx-custom-modal #modal5 customClass="modal-top extra-large-modal">
    <ng-template #modalHeader>
        <div class="flex items-center gap-2">
            <svg width="55" height="55" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 17C12.8123 17 9 13.1877 9 8.5C9 3.81225 12.8123 0 17.5 0C22.1878 0 26 3.81225 26 8.5C26 13.1877 22.1878 17 17.5 17ZM17.5 19.8333C10.2708 19.8333 4.21875 25.2478 3.424 32.4275C3.38008 32.8284 3.509 33.2279 3.77675 33.5282C4.04592 33.8286 4.42983 34 4.83217 34H8.99858C8.99858 29.3123 12.8108 25.5 17.4986 25.5C22.1863 25.5 25.9986 29.3123 25.9986 34H30.165C30.5673 34 30.9513 33.8286 31.2204 33.5282C31.4882 33.2279 31.6171 32.8284 31.5732 32.4275C30.7784 25.2478 24.7264 19.8333 17.4972 19.8333H17.5ZM17.5 28.3333C14.3748 28.3333 11.8333 30.8748 11.8333 34H23.1667C23.1667 30.8748 20.6252 28.3333 17.5 28.3333Z" fill="#f79320"></path></svg>

            <div class="flex flex-col gap-0">
                <h3 class="relative top-[5px] text-[25px] font-semibold">New</h3>
                <h3 class="ms-3 text-[25px] font-semibold">Driver</h3>
            </div>
        </div>
    </ng-template>
    <ng-template #modalBody>
        <form class="grid grid-cols-1 md:grid-cols-3 gap-2" [formGroup]="driverForm">
            <!-- Full Name -->
            <div>
                <label for="fullName" class="block mb-1 font-medium">Full Name</label>
                <input id="fullName" name="fullName" formControlName="fullName" type="text"
                class="w-full border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-mainColor border-gray-300"
                placeholder="Full Name...">
            </div>

            <!-- Phone No. -->
            <div>
                <label for="phoneNumber" class="block mb-1 font-medium">Phone Number</label>
                <input id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" type="tel"
                class="w-full border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-mainColor border-gray-300"
                placeholder="Phoen Nubmer...">
            </div>

            <!-- Tags -->
            <div>
                <label for="tags" class="block mb-1 font-medium">Tags</label>
                <select formControlName="tagId" class="w-full border rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-mainColor border-gray-300" name="tags" id="tags">
                    @for (tag of allTags(); track $index) {
                        <option [value]="tag.id">{{tag.title}}</option>
                    }
                </select>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <!-- Save Button -->
        <app-btn-save (click)="submitDriverForm()"></app-btn-save>
    </ng-template>
</ngx-custom-modal>


<!-- Modal Assign Driver -->
<ngx-custom-modal #modal6 customClass="modal-top extra-large-modal">
    <ng-template #modalHeader>
        <div class="flex items-center gap-2">
             <svg width="55" height="55" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 17C12.8123 17 9 13.1877 9 8.5C9 3.81225 12.8123 0 17.5 0C22.1878 0 26 3.81225 26 8.5C26 13.1877 22.1878 17 17.5 17ZM17.5 19.8333C10.2708 19.8333 4.21875 25.2478 3.424 32.4275C3.38008 32.8284 3.509 33.2279 3.77675 33.5282C4.04592 33.8286 4.42983 34 4.83217 34H8.99858C8.99858 29.3123 12.8108 25.5 17.4986 25.5C22.1863 25.5 25.9986 29.3123 25.9986 34H30.165C30.5673 34 30.9513 33.8286 31.2204 33.5282C31.4882 33.2279 31.6171 32.8284 31.5732 32.4275C30.7784 25.2478 24.7264 19.8333 17.4972 19.8333H17.5ZM17.5 28.3333C14.3748 28.3333 11.8333 30.8748 11.8333 34H23.1667C23.1667 30.8748 20.6252 28.3333 17.5 28.3333Z" fill="#f79320"></path>
            </svg>
            <div class="flex flex-col gap-0">
                <h3 class="relative top-[5px] text-[25px] font-semibold">Assign</h3>
                <h3 class="ms-3 text-[25px] font-semibold">Driver</h3>
            </div>
        </div>
    </ng-template>
    <ng-template #modalBody>
        <form class="grid grid-cols-1 md:grid-cols-2 gap-2" [formGroup]="assignToCarForm">
            <!-- Driver -->
            <div>
                <label for="driver" class="block mb-1 font-medium">Driver</label>
                <ng-select
                    [items]="allDrivers()"
                    bindLabel="fullName"
                    bindValue="id"
                    formControlName="driverId"
                    [clearable]="false"
                    placeholder="Select a driver"
                    class="custom-multiselect border border-1">
                </ng-select>
            </div>

            <!-- Car -->
            <div>
                <label for="car" class="block mb-1 font-medium">Vehicals</label>
                <ng-select
                    [items]="allCars()"
                    bindLabel="carNumber"
                    bindValue="id"
                    formControlName="carId"
                    [clearable]="false"
                    placeholder="Select a vehical"
                    class="custom-multiselect border border-1">
                </ng-select>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <!-- Save Button -->
        <app-btn-save (click)="submitAssignDriverToCar()"></app-btn-save>
    </ng-template>
</ngx-custom-modal>

<!-- Modal Add Balance -->
<ngx-custom-modal #modal7 customClass="modal-top extra-large-modal h-full">
    <ng-template #modalHeader>
        <div class="flex items-center gap-2">
            <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_865_10413)">
                <mask id="mask0_865_10413" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="55" height="55">
                <path d="M54.9573 0H0.0438232V55H54.9573V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_865_10413)">
                <path d="M2.431e-05 45.8326C-0.0115107 50.8882 4.08341 55 9.12997 55C14.1765 55 18.2922 50.8882 18.3038 45.8326C18.3141 41.5694 15.4004 37.9764 11.4612 36.9563V36.6651C11.4704 32.8745 14.5583 29.7898 18.3418 29.7898H36.6467C39.2213 29.7898 41.5998 28.9326 43.5158 27.4931L43.4939 36.9551C39.5489 37.9752 36.619 41.5683 36.6086 45.8314C36.5971 50.8871 40.692 54.9988 45.7386 54.9988C50.7851 54.9988 54.9008 50.8871 54.9124 45.8314C54.9227 41.5683 52.009 37.9752 48.0698 36.9551L48.1148 18.0414C52.0598 17.0213 54.9896 13.4282 55 9.16512C55.0116 4.10945 50.9166 -0.00231934 45.8701 -0.00231934C40.8235 -0.00231934 36.7078 4.10945 36.6963 9.16512C36.6859 13.4282 39.5997 17.0213 43.5389 18.0414V18.3326C43.5296 22.1231 40.4417 25.2078 36.6582 25.2078H18.3534C12.0449 25.2078 6.90141 30.3478 6.88642 36.6663V36.9574C2.94029 37.9787 0.0104058 41.5694 2.431e-05 45.8326Z" fill="#F79320"/>
                </g>
                <path d="M45.7166 54.0884C50.2519 54.0884 53.9284 50.4061 53.9284 45.8637C53.9284 41.3214 50.2519 37.639 45.7166 37.639C41.1814 37.639 37.5049 41.3214 37.5049 45.8637C37.5049 50.4061 41.1814 54.0884 45.7166 54.0884Z" fill="#F7F7F7"/>
                <path d="M46.899 47.048V50.6306H44.5332V47.048H40.9562V44.6784H44.5332V41.0958H46.899V44.6784H50.476V47.048H46.899Z" fill="#F79320"/>
                </g>
                <defs>
                <clipPath id="clip0_865_10413">
                <rect width="55" height="55" fill="white"/>
                </clipPath>
                </defs>
            </svg>

            <div class="flex flex-col gap-0">
                <h3 class="relative top-[5px] text-[25px] font-semibold">Add</h3>
                <h3 class="ms-3 text-[25px] font-semibold">Balance</h3>
            </div>
        </div>
    </ng-template>
    <ng-template #modalBody>
        @if(selectDriverToBalance.length > 0){
            <h4>Drivers : {{selectDriverToBalance.length}} Driver(s)</h4>
        }
        <form class="grid grid-cols-1 md:grid-cols-2 gap-2" [formGroup]="addBalanceForm">
            <!-- TransactionTypes -->
            <div>
                <label for="transactionType" class="block mb-1 font-medium">Transaction Types</label>
                <ng-select
                    [items]="transactionTypes"
                    bindLabel="transaction"
                    bindValue="id"
                    formControlName="transactionType"
                    [clearable]="false"
                    placeholder="Select a vehical"
                    class="custom-multiselect border border-1">
                </ng-select>
            </div>

            @if(addBalanceForm.get('transactionType')?.value == 2){
                <!-- LimitTypes -->
                <div>
                    <label for="limitType" class="block mb-1 font-medium">Limit Types</label>
                    <ng-select
                        [items]="limitTypes"
                        bindLabel="limit"
                        bindValue="id"
                        formControlName="limitType"
                        [clearable]="false"
                        placeholder="Select a vehical"
                        class="custom-multiselect border border-1">
                    </ng-select>
                </div>
            }

            @if(addBalanceForm.get('limitType')?.value == 2){
                <!-- Days -->
                <div class="md:col-span-2">
                    <label for="Days" class="block mb-1 font-medium">Days</label>
                    <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-7 gap-2">
                        @for(role of allDays(); track $index){
                            <div class="flex items-center gap-2">
                                <input type="checkbox" class="form-checkbox text-mainColor" (change)="toggleRoleSelection(role, $event)" id="{{role.day + $index}}">
                                <label [for]="role.day + $index" class="text-sm mt-1">{{role.day}}</label>
                            </div>
                        }
                    </div>
                </div>
            }

            <!-- Amounts -->
            <div>
                <label for="amount" class="block mb-1 font-medium">Amount</label>
                <input type="text" formControlName="amount" placeholder="Amount..." class="form-input" />
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <!-- Save Button -->
        <app-btn-save (click)="submitAddBalance()"></app-btn-save>
    </ng-template>
</ngx-custom-modal>
