<section>
    <!-- Total Onboarding Cards -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="relative bg-white dark:bg-transparent shadow text-mainColor h-full flex justify-between items-center rounded-2xl py-2 px-5">
            <div class="flex flex-col">
                <p class="text-[#96a0b5] text-lg">Total Customers</p>
                <h3 class="font-medium dark:text-[#222] text-[#222] text-[20px] flex items-center">
                    {{ 6350 }}
                </h3>
            </div>
            <div class="p-1 rounded-lg mt-4">
                <icon-users class="text-[#f79320] h-8 w-8" />
            </div>
            <img loading="lazy" src="assets/images/company-image/corner-img.png" class="absolute bottom-0 right-0 w-[130px] rounded-2xl h-full object-cover rounded-br-[10px] sepia-[3.5]" alt="" />
        </div>

        <div class="relative bg-white dark:bg-transparent shadow text-mainColor h-full flex justify-between items-center rounded-2xl py-2 px-5">
            <div class="flex flex-col">
                <p class="text-[#96a0b5] text-lg">In Progress</p>
                <h3 class="font-medium dark:text-[#222] text-[#222] text-[20px] flex items-center">

                    {{ 1350 }}
                </h3>
            </div>
            <div class="p-1 rounded-lg mt-4">
                <icon-clock class="text-[#f79320] h-8 w-8" />
            </div>
            <img loading="lazy" src="assets/images/company-image/corner-img.png" class="absolute bottom-0 right-0 w-[130px] rounded-2xl h-full object-cover rounded-br-[10px] sepia-[3.5]" alt="" />
        </div>

        <div class="relative bg-white dark:bg-transparent shadow text-mainColor h-full flex justify-between items-center rounded-2xl py-2 px-5">
            <div class="flex flex-col">
                <p class="text-[#96a0b5] text-lg">Active</p>
                <h3 class="font-medium dark:text-[#222] text-[#222] text-[20px] flex items-center">
                    89
                </h3>
            </div>
            <div class="p-1 rounded-lg mt-4">
                <icon-circle-check class="text-[#f79320] h-8 w-8" />
            </div>
            <img loading="lazy" src="assets/images/company-image/corner-img.png" class="absolute bottom-0 right-0 w-[130px] rounded-2xl h-full object-cover rounded-br-[10px] sepia-[3.5]" alt="" />
        </div>

        <div class="relative bg-white dark:bg-transparent shadow text-mainColor h-full flex justify-between items-center rounded-2xl py-2 px-5">
            <div class="flex flex-col">
                <p class="text-[#96a0b5] text-lg">This Month</p>
                <h3 class="font-medium dark:text-[#222] text-[#222] text-[20px] flex items-center">
                    24
                </h3>
            </div>
            <div class="p-1 rounded-lg mt-4">
                <icon-trending-up class="text-[#f79320] h-8 w-8" />
            </div>
            <img loading="lazy" src="assets/images/company-image/corner-img.png" class="absolute bottom-0 right-0 w-[130px] rounded-2xl h-full object-cover rounded-br-[10px] sepia-[3.5]" alt="" />
        </div>
    </div>
</section>
